---
import '@/styles/global.css';
import type { Translation } from '@/i18n';
import type { Language } from '@/types';
//-- components
import Header from './Header.astro';

/**
 * @interface Props
 * @property {Language} locale - The current language of the website, used for localization.
 * @property {Translation} translation - The translation object containing localized strings for the current language.
 */
interface Props {
    locale: Language;
    translation: Translation;
}
const { locale = 'en', translation } = Astro.props;
---

<html lang={locale}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="blablablablabla"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        />
    </head>
    <body>
        <Header locale={locale} seo={translation.header} />
        <main>
            <slot />
        </main>
        <!-- <Footer pageContent={translation.footer} /> -->
    </body>
</html>
