---
import '@/styles/global.css';
import type { Translation } from '@/i18n';
import type { Language } from '@/types';

/**
 * MainLayout props interface. It defines the expected props for the MainLayout component, which includes the locale and translation objects.
 * @interface Props
 * @property {Language} locale - The current language of the website, used for localization.
 * @property {Translation} translation - The translation object containing localized strings for the current language.
 */
interface Props {
  locale: Language;
  translation: Translation;
}

const { locale = 'en', translation } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site ?? 'http://localhost:3000');
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO -->
    <!-- <SEO locale={locale} seo={translation.seo} canonicalURL={canonicalURL} /> -->
  </head>
  <body>
    <!-- <Navbar locale={locale} content={translation.navbar} client:load /> -->
    <main>
      <slot />
    </main>
    <!-- <Footer pageContent={translation.footer} /> -->
  </body>
</html>