---
import type { Translation } from '@/i18n';
import '@/styles/global.css';
import type { Language } from '@/types';
/**
 * @interface Props
 * @property {Language} locale - The current language of the website, used for localization.
 * @property {Translation} globalI18n - The complete translation object containing all localized strings for the website, which can be passed down to child components for rendering localized content.
 * @property {User} user - An object representing the current user, containing their name and role, which can be displayed in the sidebar for personalization and access control purposes.
 */
interface Props {
    locale: Language;
    translation: Translation;
}
const { locale = 'en', translation } = Astro.props;
---

<html lang={locale}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>GPS Tracker</title>
        <meta name="description" content="GPS Tracker App" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        />
    </head>
    <body>
        <slot />
    </body>
</html>
